@model PMPET.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h2>Members-Delete</h2><img src="~/images/members.jpg" height="75" width="75" />

<h3>This member can't be deleted!</h3>
<h3>There may be properties linked to this member.</h3>
<h3>You must delete these property entries before deleting this member.</h3>
<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JoinDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MemberType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>
    </dl>
    <form asp-action="Index">
        <div class="form-actions no-color">
            <input type="submit" value="Back To Members List" class="btn btn-default" /> |
            @Html.ActionLink("This Member's Details", "Details", new { id = Model.ID })
        </div>
    </form>    
</div>
