@model PMPET.Models.RealEstate

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div class="row">
  <div class="col-md-6">
      <h4>Properties- Edit</h4><img src="~/images/house.png" height="75" width="75" />
    <hr />
      <dl class="dl-horizontal">
          <dt>
              @Html.DisplayNameFor(model => model.AddressLine1)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.AddressLine1)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.AddressLine2)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.AddressLine2)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.Town)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.Town)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.PostCode)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.PostCode)
          </dd>

          <dt>
              @Html.DisplayNameFor(model => model.PropertyType)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.PropertyType)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.BedroomQty)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.BedroomQty)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.BathroomWCQty)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.BathroomWCQty)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.BathroomQty)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.BathroomQty)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.WCQty)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.WCQty)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.FrontGarden)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.FrontGarden)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.BackGarden)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.BackGarden)
          </dd>


          <dt>
              @Html.DisplayNameFor(model => model.RentalPrice)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.RentalPrice)
          </dd>
          <dt>
              @Html.DisplayNameFor(model => model.SalePrice)
          </dt>
          <dd>
              @Html.DisplayFor(model => model.SalePrice)
          </dd>

          <dt>
              Owner/Landlord
          </dt>
          <dd>
              <table class="table">
                  <tr>
                      <th>ID</th>
                      <th>Full Name</th>
                  </tr>
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => Model.Person.ID)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => Model.Person.FullName)
                      </td>
                  </tr>
              </table>
          </dd>
          <dt>
              Service Assigned
          </dt>
          <dd>
              <table class="table">
                  <tr>
                      <th>ID</th>
                      <th>Description</th>
                  </tr>
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => Model.Service.ID)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => Model.Service.Description)
                      </td>
                  </tr>
              </table>
          </dd>
          @if (Model.Viewings.Count != 0)
          {
              <dt>
                  Linked Viewings
              </dt>
              <dd>
                  <table class="table">
                      <tr>
                          <th>Member ID</th>
                          <th>Date</th>
                          <th>Time</th>
                      </tr>
                      @foreach (var item in Model.Viewings)
                {
                          <tr>
                              <td>
                                  @Html.DisplayFor(modelItem => item.PersonID)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.ViewDate)
                              </td>
                              <td>
                                  @Html.DisplayFor(modelItem => item.ViewTime)
                              </td>
                          </tr>
                      }
                  </table>
              </dd>
          }


      </dl>
  </div>
    <div class="col-md-6" style="padding-top:150px">
        <img src="@Url.Content(String.Format("{0}","/uploads/"+(Model.AddressLine1.Replace(" ",""))+Model.PostCode.Trim().ToUpper()+".JPG"))" height="265" width="265" />
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to Property List</a>
</div>
