@model IEnumerable<PMPET.Models.Service>

@{
    ViewData["Title"] = " Services Index";
}

<h2>Services List</h2>
<div class="row" style="height:100px;">
    <div class="col-md-2">
        <img src="~/images/services.jpg" height="75" width="75" />
        <img src="~/images/infoicon.ico" height="25" width="25" onclick="displayHelpInfo('Services');" />
    </div>
    <div class="col-md-8" id="infoPanelContainer">
        <span style="width:100px; height:100px; visibility:hidden;" id="infoPanel" onclick="displayHelpInfo('Services');"></span>
    </div>
</div><br />

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentCommision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaleCommission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentCommision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SaleCommission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
